/* Navigation */
#navbar{
    height: 134px;
    position: sticky;
    flex-direction: column;
}
#home::before{
    height: 98%;
    width: 171vh;
    left: 0px;
    top: 0px;
}
#navbar::before{
    height: 113px;
    width: 1817px;
}
#navbar ul li a{
    font-size: 1.2rem;
    padding: 0px 10px;
}

/* home section */
 #home{
    height: 545px;

 }
 #home h1{
     color: black;

 }
 /* service section */
 
 #services{
    grid-template-columns: repeat(3, auto);

 }
 /* #services .box{

 } */
 

 /* client section */
#clients{
overflow: hidden;
}
#client-section{
    position: absolute;
    height: 325px;
    width: 1089px;

}
/* contact us section */
#contact{
    position: absolute;
    top: 2216px;
    width: 1092px;
}
/* footer */
footer{
    position: absolute;
    top: 422vh;
    width: 166vh;
}